* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    background-color: #2f348e;
}

img {
    width: 30em;
}

img.imagen.borde {
    border: solid 2px red;
    width: 30.5em;
}

header {
    background-color: #1e2161;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    gap: 2em;
}

button {
    background-color: antiquewhite;
    color: #1e2161;
    padding: 1em;
    border: none;
    cursor: pointer;
}

